*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

$dark-blue: rgb(0, 0, 66);
$orange-gradient: linear-gradient(to right, rgb(255, 115, 50) , rgb(230, 73, 0));
$light-gray: rgb(133, 133, 133);
$gray-blue-gradient: linear-gradient(rgb(255, 242, 235) , rgb(218, 244, 255));

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px;

    img {
        width: 80px;
    }

    a {
        padding: 0 10px;
        color: $dark-blue;
        text-decoration: none;
        font-weight: bold;
    }

    button {
        margin: 0 50px 0 35px;
    }
}

@mixin buttonStyle() {
    padding: 12px 15px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

.button-1 {
    @include buttonStyle();
    border: 1px solid rgb(182, 182, 182);
    background: none;
    color: $dark-blue;
}

.button-2 {
    @include buttonStyle();
    border: none;
    background-image: $orange-gradient;
    color: white;
}

section {
    padding: 20px 200px;

    img {
        border-radius: 10px;
    }

    h1 {
        font-size: 50px;
        color: $dark-blue;
        margin-top: 70px;
        line-height: 50px;
        width: 80%;
    }

    p {
        line-height: 25px;
        width: 80%;
        color: $light-gray;
        padding-bottom: 20px;
    }
}

.gridContainer {
    display: grid;
}

.grid-col-2 {
    grid-template-columns: 40% 60%;
}

.grid-col-5 {
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    width: 80%;
    margin: auto;
}

.w-70 {
    width: 70%;
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.w-30 {
    width: 30%;
}

.wh100 {
    width: 100%;
    height: 100%;
    // border: 1px solid black;
}

.relative {
    position: relative;
}

.img-pos1 {
    position: absolute;
    top: 20px;
}

.img-pos2 {
    position: absolute;
    right: 0;
    bottom: -20px;
}

.img-pos3 {
    position: absolute;
    right: 50px;
    bottom: -20px;
    background-image: $gray-blue-gradient;
    width: 65%;
    height: 100%;
    top: 0;
    right: -200px;
    border-radius: 10px;
}

.img-pos4 {
    position: absolute;
    left: 550px;
    font-size: 50px;
    line-height: 30px;
    letter-spacing: 20px;
    width: 100%;
    height: 100%;
}

#section-1 .img-pos4 {
    color: orangered;
}

.z-10{
    z-index: 10;
}

.z-20{
    
    z-index: 20;
}
.z-30{
    z-index: 30;
}

.z-40{
    z-index: 40;
}

#section-1 {
    padding-bottom: 50px;
}

.blue {
    background-color: blue;
}

#section-2 {

    margin-bottom: 40px;

    img {
        width: 50%;
    }

    h2 {
        text-align: center;
        font-size: 30px;
        color: $dark-blue;
    }
}

.bg {
    background-image: $gray-blue-gradient;
    border-radius: 10px;
    padding: 50px 0;
}

.grid-sec-3{
    grid-template-columns: 40% 60%;
    grid-auto-rows: auto;
}

#section-3 {
    h2 {
        font-size: 35px;
        margin: 0;
        margin-bottom: 50px;
        color: $dark-blue;
        width: 80%;
    }

    h3 {
        color: $dark-blue;
        width: 60%;
    }

    h4 {
        margin: 0;
        font-size: 20px;
        color: $light-gray;
        font-weight: 400;
    }

    #sec-3-img {
        grid-row-start: 2;
        grid-row-end: 5;
        background-image: url("https://elminogroup.ir/media/thumbnails/videos/Submission.jpg");
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        margin-right: 50px;
    }

    i {
        color: orangered;
        margin-top: 10px;
        font-size: 30px;
    }

    button {
        width: 150px;
    }
}

.grid-col-2-s3 {
    grid-template-columns: repeat(2, 1fr);
}

.border-top{
    border-top: 1px solid gray;
    margin: 0 20px 20px 0;
}