body{
    height: 200vh;
}

div{
    border: 2px solid black;
    height: 100px;
    width: 100px;
}

.positionStatic{
    position: static;
}

.positionRelative{
    position: relative;
    left: 50px;
    top: 20px;
}

.positionFixed{
    position: fixed;
    height: unset;
    top: 0;
    bottom: 0;
    right: 0;
    width: 200px;
    background-color: purple;
    z-index: 1;
}

.positionAbsolute{
    position: absolute;
    bottom: 100px;
    left: 200px;
    background-color: yellowgreen;
}

.parentElement{
    position: relative;
    border: 2px solid red;
}

.positionSticky{
    position: sticky;
    top: 20px;
}