.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(26, 54, 61, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: white;
  min-width: 200px;
  min-height: 200px;
  color: black;
  padding: 20px;
  text-align: center;
}
