*{
    box-sizing: border-box;
}

section{
    background-color: darkslategrey;
    width: 50%;
    margin: auto;
    padding: 10px 0 40px 0;
}

h1{
    color: white;
    font-size: 50px;
    text-align: center;
}

p, label{
    color: white;
    font-size: 25px;
    display: block;
    text-align: center;
}

#id-input{
    background-color: gray;
}

input{
    display: block;
    margin: auto;
    width: 250px;
    height: 35px;
    margin-bottom: 20px;
    font-size: 20px;
}

#age-input{
    width: 50px;
}

#text-area-input{
    width: 300px;
    height: 75px;
    max-width: 300px;
    max-height: 150px;
    min-width: 300px;
    min-height: 75px;
    display: block;
    margin: 0 auto 20px;
    font-size: 20px;
}

.displayInlineBlock{
    display: inline-block;
}

.maxWidth{
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

.section{
    text-align: center;
    padding: 0;
}

button{
    display: block;
    margin: auto;
    background-color: green;
    color: white;
    width: 100px;
    height: 35px;
    font-size: 20px;
}

input:required, textarea:required{
    border: 3px solid red;
    border-left: 3px solid rgb(255, 125, 255);
}

/* input[type="number"]:in-range{
    border: 3px solid green;
} */

input[type="number"]:out-of-range{
    border: 3px solid red;
}

button:hover{
    background-color: rgb(0, 59, 0);
}

input:valid, textarea:valid{
    border: 3px solid green;
}

input:invalid, textarea:invalid{
    border: 3px solid red;
}

.required{
    background-color: rgb(250, 91, 255);
}

input[type="checkbox"]:checked+label{
    color: blue;
}

input:placeholder-shown{
    border: 3px solid red;
}